.MoreLikeThisContainer{
    padding: 20px 0;
    h3{
        font-size: 16px;
    }
    .thumbnails-container {
        height: 210px;
    }
    .MoreLikeThisSuggetion{
        height: 170px;
        width: 118px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        h4{
            font-size: 12px;
        }
    }
    .suggetion{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 118px;
        height: 175px;
        margin-top: 20px;
      
    }
    .homePageLayout {
        background: transparent;
        padding-left: 0px;
    }
}