// main{
//     padding: 0px 95px;
// }

.thumbnail-wraper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.fav-heading{
    font-size: 20px;
    font-weight: bold;
}
.thumbnail {
    flex: 0 0 auto;
    margin-right: 27px;
    cursor: pointer;
  }